<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>es.cice.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>es.cice.login.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Plataforma</servlet-name>
        <servlet-class>es.cice.models.Plataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Noticia</servlet-name>
        <servlet-class>es.cice.models.Noticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNoticia</servlet-name>
        <servlet-class>es.cice.controller.DeleteNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarPla</servlet-name>
        <servlet-class>es.cice.controller.InsertarPla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarNoticia</servlet-name>
        <servlet-class>es.cice.controller.InsertarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePla</servlet-name>
        <servlet-class>es.cice.controller.DeletePla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarNoticia</servlet-name>
        <servlet-class>es.cice.controller.EditarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPla</servlet-name>
        <servlet-class>es.cice.controller.EditarPla</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/CerrarSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Plataforma</servlet-name>
        <url-pattern>/Plataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Noticia</servlet-name>
        <url-pattern>/Noticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNoticia</servlet-name>
        <url-pattern>/DeleteNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarPla</servlet-name>
        <url-pattern>/InsertarPla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarNoticia</servlet-name>
        <url-pattern>/InsertarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePla</servlet-name>
        <url-pattern>/DeletePla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarNoticia</servlet-name>
        <url-pattern>/EditarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPla</servlet-name>
        <url-pattern>/EditarPla</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
